@charset "utf-8";

#seatmsg { /*直接显示seatnum参数值*/
    text-align: center;
    font-size:300px;
    display:none;    
}

#DetailsViewIPSeat {
    text-align: center;
    font-size:300px;
}

div,body,html{margin:0; padding:0; width:100%;}
#left,#right,#middle{ height:300px; position:absolute;}
#left{width:300px;}    
#middle{ width:9px; background:#666;left:300px;}
#middle:hover{ cursor:w-resize;}
#right{right:0;left:309px; width:auto;}

.left {
    position: fixed; top: 0px; left: 0px; width: 20%; z-index: 1050;    
    float: left; height: 100%; width: 12%; margin: 0px; overflow-y:auto; 
}

.righttop {
   position:relative;left:14.5%;
    height:5%; width: 85%;
}

.right {
   position:fixed;top:5%;left:15%;
   overflow: scroll; height: 92%; width: 85%;
}

.rightc {
   position:fixed;left:15%;
   overflow: scroll; height: 100%; width: 85%;
}

.centertop {
    height:5%; width: 99%;
}

.center {
    position:fixed; overflow: scroll; height: 92%; width: 99%;
    text-align: center;
}

#table {
    table-layout: fixed;width:100%; 
}

.tableShow {
    position:fixed; margin-right:auto;width:80%;
}

#LiteralID {
    font-size:xx-small;
}

#gotop{
      display:none;
      width:55px;
      height:55px;
      position:fixed;
      right:50px;
      bottom:50px;
      background:url(img/backtop2013.png) no-repeat -70px 0px;    
 }

table {
	font-family: verdana,arial,sans-serif;
	font-size:15px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
    text-align:center;
}

.gvTitle {
    position:relative;width:99%;
    text-align:center;
}