@charset "utf-8";

#seatmsg { /*直接显示seatnum参数值*/
    text-align: center;
    font-size:300px;
    display:none;    
}

#DetailsViewIPSeat {
    text-align: center;
    font-size:300px;
}

.left {
    position: fixed; top: 0px; left: 0px; width: 20%; z-index: 1050;    
    float: left; height: 100%; width: 12%; margin: 0px; overflow-y:auto; 
}

.righttop {
   position:relative;left:14.5%;
    height:5%; width: 85%;
}

.right {
   position:fixed;top:5%;left:15%;
   overflow: scroll; height: 92%; width: 85%;
}

.centertop {
    height:5%; width: 99%;
}

.center {
    position:fixed; overflow: scroll; height: 92%; width: 99%;
}

#table {
    table-layout: fixed;width:100%; 
}


.tableShow {
    position:fixed; margin-right:auto;width:80%;
}